<section class="page-container">
  <div class="section-content">
    <div class="page-title">
      <h2>Portfolio</h2>
    </div>
    <!-- <a href="../assets/portfolio/angular/dynamic-forms-generation-v19/browser" target="_blank" class="btn btn-primary">For Portfolio, please ckick here</a> -->
    <div class="row">
      <div class="col-xs-12 col-sm-12">
        <!-- Portfolio Content -->
        <div class="portfolio-content tab-menu">
          <ul class="portfolio-filters">
            @for (item of portfolioData.filterList; track $index;let i = $index;) {
            <li (click)="onFilterFn(item,i)" [class.active]="filterActiveIndex == i" class="tab-a">
              <a class="filter btn btn-sm btn-link">{{item.title}}</a>
            </li>
            }
          </ul>
          <!-- Portfolio Grid -->
          <div class="portfolio-grid three-columns">
            @for (item of portfolioList; track $index) {
            <figure class="item standard">
              <div class="portfolio-item-img">
                <img [src]="item.image" [alt]="item.title" [title]="item.title" />
                <a [href]="item.link" target="_blank" class="lightbox mfp-iframe" title="Portfolio Item">
                  {{item.demo ? 'Demo': '' }}
                </a>
              </div>
              <i class="fa fa-volume-up"></i>
              <h4 class="name">{{item.title}}</h4>
              <span class="category">{{item.title}}</span>
            </figure>
            }
          </div>
        </div>
        <!-- End of Portfolio Content -->
      </div>
    </div>
  </div>
</section>