<section class="start-page page-container">
  <div class="section-content vcentered">
    <div class="row">
      <div class="col-sm-12 col-md-12 col-lg-12">
        <div class="title-block">
          <div class="title-img">
            <img [src]="homeData.photo" [alt]="homeData.name" />
          </div>
          <h2>{{homeData.name}}</h2>
          <h3>{{homeData.email}}</h3>
          <div class="owl-carousel text-rotation">
            @for (item of homeData.slider; track $index) {
            <div class="item">
              <div class="sp-subtitle">{{item}}</div>
            </div>
            }
          </div>
        </div>
      </div>
    </div>
  </div>
</section>