<app-loader></app-loader>
<router-outlet></router-outlet>
<!-- Animated Background -->
<div
  class="lm-animated-bg"
  style="background-image: url(../assets/img/main_bg.png)"
></div>
<!-- /Animated Background -->

<!-- Loading animation -->
<div class="preloader">
  <div class="preloader-animation">
    <div class="preloader-spinner"></div>
  </div>
</div>
<!-- /Loading animation -->

<div class="page" #ankitBlogs>
  <div class="page-content">
    <header id="site_header" class="header mobile-menu-hide">
      <div class="header-content">
        <div class="header-photo">
          <img src="../assets/img/ankit.JPG" alt="{{myInfo.name}}" />
        </div>
        <div class="header-titles">
          <h2>{{myInfo.name}}</h2>
          <h4>{{myInfo.profession}}</h4>
        </div>
      </div>

      <ul class="main-menu">
        <li *ngFor="let item of headerMenu">
          <a (click)="onTab()" href="{{item.link}}" class="nav-anim">
            <span class="menu-icon lnr {{item.iconClass}}"></span>
            <span class="link-text">{{item.label}}</span>
          </a>
        </li>
      </ul>

      <div class="social-links">
        <ul>
          <li *ngFor="let item of socialLinks">
            <a
              href="{{item.link}}"
              target="_blank"
              ><i class="fab {{item.icon}}"></i
            ></a>
          </li>
        </ul>
      </div>

      <div class="header-buttons">
        <a
          href="../assets/resume/Ankit_Kumar_Sharma_Resume.docx"
          target="_blank"
          class="btn btn-primary"
          >Download CV</a
        >
      </div>

      <div class="copyrights">{{copyright}}</div>
    </header>

    <!-- Mobile Navigation -->
    <div class="menu-toggle">
      <span></span>
      <span></span>
      <span></span>
    </div>
    <!-- End Mobile Navigation -->

    <!-- Arrows Nav -->
    <div class="lmpixels-arrows-nav">
      <div (click)="onTab()" class="lmpixels-arrow-right">
        <i class="lnr lnr-chevron-right"></i>
      </div>
      <div (click)="onTab()" class="lmpixels-arrow-left">
        <i class="lnr lnr-chevron-left"></i>
      </div>
    </div>
    <!-- End Arrows Nav -->

    <div class="content-area">
      <div class="animated-sections">
        <div class="ask-your-doubt">
          <a
            (click)="askYourDoubts()"
            class="btn btn-primary"
            >Ask Your Doubts</a
          >
        </div>
        <!-- Home Subpage -->
        <app-home></app-home>
        <!-- End of Home Subpage -->

        <!-- About Me Subpage -->
        <app-about-me></app-about-me>
        <!-- End of About Me Subpage -->

        <!-- Resume Subpage -->
        <app-resume></app-resume>
        <!-- End of Resume Subpage -->

        <!-- Portfolio Subpage -->
        <app-portfolio></app-portfolio>
        <!-- End of Portfolio Subpage -->

        <!-- Blog Subpage -->
        <app-blog></app-blog>
        <!-- End of Blog Subpage -->

        <!-- Contact Subpage -->
        <app-contact-me></app-contact-me>
        <!-- End of Contact Subpage -->
      </div>
    </div>
  </div>
</div>
