<section data-id="blog" class="animated-section">
  <div class="section-content">
    <div class="page-title">
      <h2>Blogs n Talks</h2>
    </div>
    <!-- tabs -->
    <div class="tab-container">
      <div class="tab-menu">
        <ul>
          <li>
            <a class="tab-a active-a" data-id="tab1">Blogs</a>
          </li>
          <li><a class="tab-a" data-id="tab2">Webinars</a></li>
          <li><a class="tab-a" data-id="tab3">Seminars</a></li>
        </ul>
      </div>
      <!--end of tab-menu-->
      <div class="tab tab-active" data-id="tab1">
        <!---blogs-->
        <div class="row">
          <div class="col-xs-12 col-sm-12">
            <div class="blog-masonry two-columns clearfix">
              <!-- Blog Post 1 -->
              <div class="item post-1">
                <div class="blog-card">
                  <div class="media-block">
                    <div class="category">
                      <a title="Development">Development</a>
                    </div>
                    <a
                      target="_blank"
                      href="https://medium.com/@ankit_k_sharma/component-interaction-in-angular-438d6d50430c"
                    >
                      <img
                        src="../assets/img/blog/blog1.png"
                        class="size-blog-masonry-image-two-c"
                        alt="Component Interaction in Angular"
                        title="Component Interaction in Angular"
                      />
                      <div class="mask"></div>
                    </a>
                  </div>
                  <div class="post-info">
                    <div class="post-date">15 Apr 2022</div>
                    <a
                      target="_blank"
                      href="https://medium.com/@ankit_k_sharma/component-interaction-in-angular-438d6d50430c"
                    >
                      <h4 class="blog-item-title">
                        Component Interaction in Angular
                      </h4>
                    </a>
                  </div>
                </div>
              </div>
              <!-- End of Blog Post 1 -->

              <!-- Blog Post 2 -->
              <div class="item post-2">
                <div class="blog-card">
                  <div class="media-block">
                    <div class="category">
                      <a title="Development">Development</a>
                    </div>
                    <a
                      target="_blank"
                      href="https://medium.com/@ankit_k_sharma/how-to-use-multiple-environment-variables-in-angular-7c9dcb485cd7"
                    >
                      <img
                        src="../assets/img/blog/blog2.jpeg"
                        class="size-blog-masonry-image-two-c"
                        alt="How to use multiple Environment Variables in Angular"
                        title="How to use multiple Environment Variables in Angular"
                      />
                      <div class="mask"></div>
                    </a>
                  </div>
                  <div class="post-info">
                    <div class="post-date">7 May 2022</div>
                    <a
                      target="_blank"
                      href="https://medium.com/@ankit_k_sharma/how-to-use-multiple-environment-variables-in-angular-7c9dcb485cd7"
                    >
                      <h4 class="blog-item-title">
                        How to use multiple Environment Variables in
                        Angular
                      </h4>
                    </a>
                  </div>
                </div>
              </div>
              <!-- End of Blog Post 2 -->
              <!-- Blog Post 3 -->
              <div class="item post-2">
                <div class="blog-card">
                  <div class="media-block">
                    <div class="category">
                      <a title="Development">Webinar</a>
                    </div>
                    <a
                      target="_blank"
                      href="https://medium.com/@ankit_k_sharma/conducted-a-free-webinar-on-angular-essentials-for-corporate-folks-63fa4d60daa0"
                    >
                      <img
                        src="../assets/img/blog/blog3.png"
                        class="size-blog-masonry-image-two-c"
                        alt="Conducted a free webinar on Angular Essentials for Corporate Folks"
                        title="Conducted a free webinar on Angular Essentials for Corporate Folks"
                      />
                      <div class="mask"></div>
                    </a>
                  </div>
                  <div class="post-info">
                    <div class="post-date">14 May 2022</div>
                    <a
                      target="_blank"
                      href="https://medium.com/@ankit_k_sharma/conducted-a-free-webinar-on-angular-essentials-for-corporate-folks-63fa4d60daa0"
                    >
                      <h4 class="blog-item-title">
                        Conducted a free webinar on Angular Essentials
                        for Corporate Folks
                      </h4>
                    </a>
                  </div>
                </div>
              </div>
              <!-- End of Blog Post 3 -->

              <!-- Blog Post 4 -->
              <div class="item post-2">
                <div class="blog-card">
                  <div class="media-block">
                    <div class="category">
                      <a title="Development">Development</a>
                    </div>
                    <a
                      target="_blank"
                      href="https://medium.com/@ankit_k_sharma/angular-standalone-component-future-of-angular-95d1c8fd8d0d"
                    >
                      <img
                        src="../assets/img/blog/blog4.png"
                        class="size-blog-masonry-image-two-c"
                        alt="Angular Standalone Component — Future of Angular"
                        title="Angular Standalone Component — Future of Angular"
                      />
                      <div class="mask"></div>
                    </a>
                  </div>
                  <div class="post-info">
                    <div class="post-date">08 Jul 2022</div>
                    <a
                      target="_blank"
                      href="https://medium.com/@ankit_k_sharma/angular-standalone-component-future-of-angular-95d1c8fd8d0d"
                    >
                      <h4 class="blog-item-title">
                        Angular Standalone Component — Future of Angular
                      </h4>
                    </a>
                  </div>
                </div>
              </div>
              <!-- End of Blog Post 4 -->

              <!-- Blog Post 5 -->
              <div class="item post-2">
                <div class="blog-card">
                  <div class="media-block">
                    <div class="category">
                      <a title="Development">Development</a>
                    </div>
                    <a
                      target="_blank"
                      href="https://medium.com/@ankit_k_sharma/hoisting-in-java-script-859279d3b2ec"
                    >
                      <img
                        src="../assets/img/blog/blog5.jpeg"
                        class="size-blog-masonry-image-two-c"
                        alt="Hoisting in Java Script"
                        title="Hoisting in Java Script"
                      />
                      <div class="mask"></div>
                    </a>
                  </div>
                  <div class="post-info">
                    <div class="post-date">10 Jul 2022</div>
                    <a
                      target="_blank"
                      href="https://medium.com/@ankit_k_sharma/hoisting-in-java-script-859279d3b2ec"
                    >
                      <h4 class="blog-item-title">
                        Hoisting in Java Script
                      </h4>
                    </a>
                  </div>
                </div>
              </div>
              <!-- End of Blog Post 5 -->

              <!-- Blog Post 3 --
          <div class="item post-1">
            <div class="blog-card">
              <div class="media-block">
                <div class="category">
                  <a href="#" title="View all posts in Design">Design</a>
                </div>
                <a href="blog-post-1.html">
                  <img src="../assets/img/blog/blog_post_3.jpg" class="size-blog-masonry-image-two-c" alt="Designing the Perfect Feature Comparison Table" title="" />
                  <div class="mask"></div>
                </a>
              </div>
              <div class="post-info">
                <div class="post-date">06 Feb 2020</div>
                <a href="blog-post-1.html">
                  <h4 class="blog-item-title">Designing the Perfect Feature Comparison Table</h4>
                </a>
              </div>
            </div>
          </div>
          <!-- End of Blog Post 3 -->

              <!-- Blog Post 4 --
          <div class="item post-2">
            <div class="blog-card">
              <div class="media-block">
                <div class="category">
                  <a href="#" title="View all posts in E-Commerce">UI</a>
                </div>
                <a href="blog-post-1.html">
                  <img src="../assets/img/blog/blog_post_4.jpg" class="size-blog-masonry-image-two-c" alt="An Overview of E-Commerce Platforms" title="" />
                  <div class="mask"></div>
                </a>
              </div>
              <div class="post-info">
                <div class="post-date">07 Jan 2020</div>
                <a href="blog-post-1.html">
                  <h4 class="blog-item-title">An Overview of E-Commerce Platforms</h4>
                </a>
              </div>
            </div>
          </div>
          <!-- End of Blog Post 4 -->
            </div>
          </div>
        </div>
      </div>
      <!--end of tab one-->

      <div class="tab" data-id="tab2">
        <p>will update soon ...</p>
      </div>
      <!--end of tab two-->
      <div class="tab" data-id="tab3">
        <p>will update soon ...</p>
      </div>
      <!--end of tab three-->
    </div>
    <!--end of container-->
  </div>
</section>
