<section class="page-container">
  <div class="section-content">
    <div class="page-title">
      <h2>Resume</h2>
    </div>

    <div class="row">
      <div class="col-xs-12 col-sm-7">
        <div class="block-title">
          <h3>Education</h3>
        </div>

        <div class="timeline timeline-second-style clearfix">
          <div class="timeline-item clearfix">
            <div class="left-part">
              <h5 class="item-period">2013</h5>
              <span class="item-company">MIET from AKTU (UP)</span>
            </div>
            <div class="divider"></div>
            <div class="right-part">
              <h4 class="item-title">MCA</h4>
              <p>
                Study at MIET and gain knowledge about computer
                programming, algorithms and all other technical
                activities.
              </p>
            </div>
          </div>

          <div class="timeline-item clearfix">
            <div class="left-part">
              <h5 class="item-period">2010</h5>
              <span class="item-company">Apex Ins. from CCSU (UP)</span>
            </div>
            <div class="divider"></div>
            <div class="right-part">
              <h4 class="item-title">BCA</h4>
              <p>
                Study at Apex Institute and gain knowledge about
                computer programming, algorithms and all other technical
                activities.
              </p>
            </div>
          </div>
        </div>

        <div class="white-space-50"></div>

        <div class="block-title">
          <h3>Experience</h3>
        </div>

        <div class="timeline timeline-second-style clearfix">
          <div class="timeline-item clearfix">
            <div class="left-part">
              <h5 class="item-period">2021 - Current</h5>
              <span class="item-company">HCL Technologies</span>
            </div>
            <div class="divider"></div>
            <div class="right-part">
              <h4 class="item-title">Technical Lead</h4>
              <p>
                Manage team members and project management with all type
                of development and functionality. Development and
                implementing the User Interface, API Integration,
                business logic, Front-End, Backend Development. Manage
                project requirements and work according to the team with
                coding standards.
              </p>
            </div>
          </div>

          <div class="timeline-item clearfix">
            <div class="left-part">
              <h5 class="item-period">2020 - 2021</h5>
              <span class="item-company">Infosys</span>
            </div>
            <div class="divider"></div>
            <div class="right-part">
              <h4 class="item-title">Senior Software Engineer</h4>
              <p>
                Development and implementing the User Interface, API
                Integration, business logic, Front End Development Work
                in Agile development concept and a passion for building
                a great product with high-end customer facing features.
              </p>
            </div>
          </div>

          <div class="timeline-item clearfix">
            <div class="left-part">
              <h5 class="item-period">2018 - 2020</h5>
              <span class="item-company">FIS Global</span>
            </div>
            <div class="divider"></div>
            <div class="right-part">
              <h4 class="item-title">Web Developer</h4>
              <p>
                Designed/Development and implemented the User
                Interface/PSD to HTML, API Integration, business logic,
                Front End Development. Work on the site's appearance,
                often with a web developer.
              </p>
            </div>
          </div>

          <div class="timeline-item clearfix">
            <div class="left-part">
              <h5 class="item-period">2014 - 2018</h5>
              <span class="item-company">Trion Technologies</span>
            </div>
            <div class="divider"></div>
            <div class="right-part">
              <h4 class="item-title">Web Designer/Developer</h4>
              <p>
                Designed/Development and implemented the User
                Interface/PSD to HTML using JavaScript, HTML5, CSS3,
                Bootstrap & WordPress, and worked with Angular 5.
                Develop the web application as per client's
                requirements.
              </p>
            </div>
          </div>

          <div class="timeline-item clearfix">
            <div class="left-part">
              <h5 class="item-period">2013 - 2013</h5>
              <span class="item-company">CETPA Infotech</span>
            </div>
            <div class="divider"></div>
            <div class="right-part">
              <h4 class="item-title">Java Trainee</h4>
              <p>
                Learn the core & advance J2EE technology and develop two
                projects in this industrial training period. I was
                working as a programmer on a project.
              </p>
            </div>
          </div>
        </div>
      </div>

      <!-- Skills & Certificates -->
      <div class="col-xs-12 col-sm-5">
        <!-- Design Skills -->
        <div class="block-title">
          <h3>Design <span>Skills</span></h3>
        </div>

        <div class="skills-info skills-second-style">
          <!-- Skill 1 -->
          <div class="skill clearfix">
            <h4>Web Design/HTML5</h4>
            <!-- <div class="skill-value">95%</div> -->
          </div>
          <div class="skill-container skill-5">
            <div class="skill-percentage"></div>
          </div>
          <!-- End of Skill 1 -->

          <!-- Skill 2 -->
          <div class="skill clearfix">
            <h4>Style/CSS/SCSS</h4>
            <!-- <div class="skill-value">95%</div> -->
          </div>
          <div class="skill-container skill-5">
            <div class="skill-percentage"></div>
          </div>
          <!-- End of Skill 2 -->

          <!-- Skill 3 -->
          <div class="skill clearfix">
            <h4>Bootstrap</h4>
            <!-- <div class="skill-value">95%</div> -->
          </div>
          <div class="skill-container skill-5">
            <div class="skill-percentage"></div>
          </div>
          <!-- End of Skill 3 -->

          <!-- Skill 4 -->
          <div class="skill clearfix">
            <h4>PSD to HTML</h4>
            <!-- <div class="skill-value">90%</div> -->
          </div>
          <div class="skill-container skill-5">
            <div class="skill-percentage"></div>
          </div>
          <!-- End of Skill 4 -->
        </div>
        <!-- End of Design Skills -->

        <div class="white-space-10"></div>

        <!-- Coding Skills -->
        <div class="block-title">
          <h3>Development <span>Skills</span></h3>
        </div>

        <div class="skills-info skills-second-style">
          <!-- Skill 5 -->
          <div class="skill clearfix">
            <h4>JavaScript</h4>
            <!-- <div class="skill-value">95%</div> -->
          </div>
          <div class="skill-container skill-5">
            <div class="skill-percentage"></div>
          </div>
          <!-- End of Skill 5 -->

          <!-- Skill 6 -->
          <div class="skill clearfix">
            <h4>Angular</h4>
            <!-- <div class="skill-value">85%</div> -->
          </div>
          <div class="skill-container skill-7">
            <div class="skill-percentage"></div>
          </div>
          <!-- End of Skill 6 -->

          <!-- Skill 7 -->
          <div class="skill clearfix">
            <h4>NodeJS</h4>
            <!-- <div class="skill-value">100%</div> -->
          </div>
          <div class="skill-container skill-3">
            <div class="skill-percentage"></div>
          </div>
          <!-- End of Skill 7 -->

          <!-- Skill 8 -->
          <div class="skill clearfix">
            <h4>Jquery</h4>
            <!-- <div class="skill-value">75%</div> -->
          </div>
          <div class="skill-container skill-1">
            <div class="skill-percentage"></div>
          </div>
          <!-- End of Skill 8 -->

          <!-- Skill 9 -->
          <div class="skill clearfix">
            <h4>React</h4>
            <!-- <div class="skill-value">90%</div> -->
          </div>
          <div class="skill-container skill-9">
            <div class="skill-percentage"></div>
          </div>
          <!-- End of Skill 9 -->
        </div>
        <!-- End of Coding Skills -->

        <div class="white-space-10"></div>

        <!-- Coding Skills -->
        <div class="block-title">
          <h3>Coding <span>Skills</span></h3>
        </div>

        <div class="skills-info skills-second-style">
          <!-- Skill 5 -->
          <div class="skill clearfix">
            <h4>Java</h4>
            <!-- <div class="skill-value">95%</div> -->
          </div>
          <div class="skill-container skill-3">
            <div class="skill-percentage"></div>
          </div>
          <!-- End of Skill 5 -->

          <!-- Skill 6 -->
          <div class="skill clearfix">
            <h4>Python</h4>
            <!-- <div class="skill-value">85%</div> -->
          </div>
          <div class="skill-container skill-3">
            <div class="skill-percentage"></div>
          </div>
          <!-- End of Skill 6 -->

          <!-- Skill 7 -->
          <div class="skill clearfix">
            <h4>DSA</h4>
            <!-- <div class="skill-value">100%</div> -->
          </div>
          <div class="skill-container skill-3">
            <div class="skill-percentage"></div>
          </div>
          <!-- End of Skill 7 -->
        </div>
        <!-- End of Coding Skills -->

        <div class="white-space-10"></div>

        <!-- Coding Skills -->
        <div class="block-title">
          <h3>Database <span>Skills</span></h3>
        </div>

        <div class="skills-info skills-second-style">
          <!-- Skill 5 -->
          <div class="skill clearfix">
            <h4>MySQL</h4>
            <!-- <div class="skill-value">95%</div> -->
          </div>
          <div class="skill-container skill-3">
            <div class="skill-percentage"></div>
          </div>
          <!-- End of Skill 5 -->

          <!-- Skill 6 -->
          <div class="skill clearfix">
            <h4>SQL Server</h4>
            <!-- <div class="skill-value">85%</div> -->
          </div>
          <div class="skill-container skill-3">
            <div class="skill-percentage"></div>
          </div>
          <!-- End of Skill 6 -->

          <!-- Skill 7 -->
          <div class="skill clearfix">
            <h4>MongoDB</h4>
            <!-- <div class="skill-value">100%</div> -->
          </div>
          <div class="skill-container skill-3">
            <div class="skill-percentage"></div>
          </div>
          <!-- End of Skill 7 -->
        </div>
        <!-- End of Coding Skills -->

        <div class="white-space-10"></div>

        <!-- Coding Skills -->
        <div class="block-title">
          <h3>DevOps(CI/CD) <span>Skills</span></h3>
        </div>

        <div class="skills-info skills-second-style">
          <!-- Skill 5 -->
          <div class="skill clearfix">
            <h4>GitLab/BitBucket</h4>
            <!-- <div class="skill-value">95%</div> -->
          </div>
          <div class="skill-container skill-5">
            <div class="skill-percentage"></div>
          </div>
          <!-- End of Skill 5 -->

          <!-- Skill 6 -->
          <div class="skill clearfix">
            <h4>Git</h4>
            <!-- <div class="skill-value">85%</div> -->
          </div>
          <div class="skill-container skill-7">
            <div class="skill-percentage"></div>
          </div>
          <!-- End of Skill 6 -->

          <!-- Skill 7 -->
          <div class="skill clearfix">
            <h4>Hosting Manager (cPanel)</h4>
            <!-- <div class="skill-value">100%</div> -->
          </div>
          <div class="skill-container skill-3">
            <div class="skill-percentage"></div>
          </div>
          <!-- End of Skill 7 -->

          <!-- Skill 8 -->
          <div class="skill clearfix">
            <h4>Jenkins/Jeera</h4>
            <!-- <div class="skill-value">75%</div> -->
          </div>
          <div class="skill-container skill-3">
            <div class="skill-percentage"></div>
          </div>
          <!-- End of Skill 8 -->

          <!-- Skill 9 -->
          <div class="skill clearfix">
            <h4>AWS S3</h4>
            <!-- <div class="skill-value">90%</div> -->
          </div>
          <div class="skill-container skill-9">
            <div class="skill-percentage"></div>
          </div>
          <!-- End of Skill 9 -->
        </div>
        <!-- End of Coding Skills -->

        <div class="white-space-10"></div>

        <!-- Coding Skills -->
        <div class="block-title">
          <h3>Management <span>Skills</span></h3>
        </div>

        <div class="skills-info skills-second-style">
          <!-- Skill 5 -->
          <div class="skill clearfix">
            <h4>Team Management</h4>
            <!-- <div class="skill-value">95%</div> -->
          </div>
          <div class="skill-container skill-7">
            <div class="skill-percentage"></div>
          </div>
          <!-- End of Skill 5 -->

          <!-- Skill 6 -->
          <div class="skill clearfix">
            <h4>Project Management</h4>
            <!-- <div class="skill-value">85%</div> -->
          </div>
          <div class="skill-container skill-7">
            <div class="skill-percentage"></div>
          </div>
          <!-- End of Skill 6 -->

          <!-- Skill 7 -->
          <div class="skill clearfix">
            <h4>DevOps</h4>
            <!-- <div class="skill-value">100%</div> -->
          </div>
          <div class="skill-container skill-3">
            <div class="skill-percentage"></div>
          </div>
          <!-- End of Skill 7 -->

          <!-- Skill 8 -->
          <div class="skill clearfix">
            <h4>Documentation</h4>
            <!-- <div class="skill-value">75%</div> -->
          </div>
          <div class="skill-container skill-3">
            <div class="skill-percentage"></div>
          </div>
          <!-- End of Skill 8 -->

          <!-- Skill 9 -->
          <div class="skill clearfix">
            <h4>Client Interaction</h4>
            <!-- <div class="skill-value">90%</div> -->
          </div>
          <div class="skill-container skill-9">
            <div class="skill-percentage"></div>
          </div>
          <!-- End of Skill 9 -->
        </div>
        <!-- End of Coding Skills -->

        <div class="white-space-10"></div>

        <!-- Knowledges -->
        <div class="block-title">
          <h3>Knowledges</h3>
        </div>

        <ul class="knowledges">
          <li>Technical</li>
          <li>SEO/SMO</li>
          <li>Designing</li>
          <li>Social Media</li>
          <li>Time Management</li>
          <li>Communication</li>
          <li>Problem-Solving</li>
          <li>Social Networking</li>
          <li>Flexibility</li>
        </ul>
        <!-- End of Knowledges -->
      </div>
      <!-- End of Skills & Certificates -->
    </div>

    <div class="white-space-50"></div>

    <!-- Certificates -->
    <div class="row">
      <div class="col-xs-12 col-sm-12">
        <div class="block-title">
          <h3>Certificates</h3>
        </div>
      </div>
    </div>

    <div class="row">
      <!-- Certificate 1 -->
      <div class="col-xs-12 col-sm-6">
        <div class="certificate-item clearfix">
          <div class="certi-logo">
            <img src="../assets/img/clients/client-1.png" alt="logo" />
          </div>

          <div class="certi-content">
            <div class="certi-title">
              <h4>
                Artificial Intelligence Workshop associate by MSME
                (Govt. of India)
              </h4>
            </div>
            <div class="certi-id">
              <span>AI/ML</span>
            </div>
            <div class="certi-date">
              <span>Sep 2019</span>
            </div>
            <div class="certi-company">
              <span></span>
            </div>
          </div>
        </div>
      </div>
      <!-- End of Certificate 1 -->

      <!-- Certificate 2 -->
      <div class="col-xs-12 col-sm-6">
        <div class="certificate-item clearfix">
          <div class="certi-logo">
            <img src="../assets/img/clients/client-1.png" alt="logo" />
          </div>

          <div class="certi-content">
            <div class="certi-title">
              <h4>
                Angular NgIndia workshop associated by Geek97
                (angular.io)
              </h4>
            </div>
            <div class="certi-id">
              <span>Web Development</span>
            </div>
            <div class="certi-date">
              <span>Feb 2020</span>
            </div>
            <div class="certi-company">
              <span></span>
            </div>
          </div>
        </div>
      </div>
      <!-- End of Certificate 2 -->
    </div>
    <!-- End of Certificates -->
  </div>
</section>
