<section class="page-container">
  <div class="section-content">
    <div class="page-title">
      <h2>{{resumeData.title}}</h2>
    </div>

    <div class="row">
      <div class="col-xs-12 col-sm-7">
        @for (item of resumeData.educationAndExp; track $index) {
        <div class="block-title">
          <h3>{{item.title}}</h3>
        </div>
        <div class="timeline timeline-second-style clearfix">
          @for (timelineItem of item.list; track $index) {
          <div class="timeline-item clearfix">
            <div class="left-part">
              <h5 class="item-period">{{timelineItem.year}}</h5>
              <span class="item-company">{{timelineItem.insLoc}}</span>
            </div>
            <div class="divider"></div>
            <div class="right-part">
              <h4 class="item-title">{{timelineItem.name}}</h4>
              <p>
                {{timelineItem.desc}}
              </p>
            </div>
          </div>
          }
        </div>
        <div class="white-space-50"></div>
        }
      </div>
      <!-- Skills & Certificates -->
      <div class="col-xs-12 col-sm-5">
        <!-- Design Skills -->
        @for (item of resumeData.skills; track $index) {
        <div class="block-title">
          <h3>{{item.title}} <span>Skills</span></h3>
        </div>
        <div class="skills-info skills-second-style">
          <!-- Skill 1 -->
          @for (skill of item.list; track $index) {
          <div class="skill clearfix">
            <h4>{{skill.name}}</h4>
            <!-- <div class="skill-value">95%</div> -->
          </div>
          <div [class]="'skill-container skill-' + skill.percentage">
            <div class="skill-percentage"></div>
          </div>
          }
          <!-- End of Skill 1 -->
        </div>
        <!-- End of Design Skills -->
        <div class="white-space-10"></div>
        }
        <!-- Knowledges -->
        <div class="block-title">
          <h3>{{resumeData.knowledge.title}}</h3>
        </div>

        <ul class="knowledges">
          @for (item of resumeData.knowledge.list; track $index) {
          <li>{{item}}</li>
          }
        </ul>
        <!-- End of Knowledges -->
      </div>
      <!-- End of Skills & Certificates -->
    </div>
    <div class="white-space-50"></div>
    <!-- Certificates -->

    <div class="row">
      <div class="col-xs-12 col-sm-12">
        <div class="block-title">
          <h3>{{resumeData.certificates.title}}</h3>
        </div>
      </div>
    </div>
    <div class="row">
      <!-- Certificate 1 -->
      @for (item of resumeData.certificates.list; track $index) {
      <div class="col-xs-12 col-sm-6">
        <div class="certificate-item clearfix">
          <div class="certi-logo">
            <img src="../assets/img/clients/client-1.png" alt="logo" />
          </div>
          <div class="certi-content">
            <div class="certi-title">
              <h4>
                {{item.name}}
              </h4>
            </div>
            <div class="certi-id">
              <span>{{item.area}}</span>
            </div>
            <div class="certi-date">
              <span>{{item.year}}</span>
            </div>
            <div class="certi-company">
              <span></span>
            </div>
          </div>
        </div>
      </div>
      }
      <!-- End of Certificate 1 -->
    </div>
    <!-- End of Certificates -->
  </div>
</section>