<section class="page-container">
    <div class="section-content">
        <div class="page-title">
            <h2>Blogs n Talks</h2>
        </div>
        <!-- tabs -->
        <div class="tab-container">
            <div class="tab-menu">
                <ul>
                    @for (item of blogs.tabMenu; track $index; let i=$index;) {
                    <li (click)="onTabFn(i)"><a [class.active-a]="tabActiveIndex == i"
                            class="tab-a active-a">{{item}}</a></li>
                    }
                </ul>
            </div>
            <!--end of tab-menu-->
            @for (item of blogs.tabList; track $index; let i=$index;){
            <div [class.tab-active]="tabActiveIndex == i" class="tab">
                <!---blog-->
                <div class="row">
                    <div class="col-xs-12 col-sm-12">
                        <div class="blog-masonry two-columns clearfix">
                            <!-- Blog Post -->
                            @for (tab of item.tab; track $index; let j=$index;) {
                            <div class="item post-{{j+1}}">
                                <div class="blog-card">
                                    <div class="media-block">
                                        <div class="category">
                                            <a title="{{tab.category}}">{{tab.category}}</a>
                                        </div>
                                        <a target="_blank" href="{{tab.link}}">
                                            <img src="{{tab.src}}" class="size-blog-masonry-image-two-c"
                                                alt="{{tab.title}}" title="{{tab.title}}" />
                                            <div class="mask"></div>
                                        </a>
                                    </div>
                                    <div class="post-info">
                                        <div class="post-date">{{tab.date}}</div>
                                        <a target="_blank" href="{{tab.link}}">
                                            <h4 class="blog-item-title">
                                                {{tab.title}}
                                            </h4>
                                        </a>
                                    </div>
                                </div>
                            </div>
                            }
                        </div>
                    </div>
                </div>
            </div>
            }
        </div>
        <!--end of container-->
    </div>
</section>